html {
    position: relative;
    min-height: 100%;
}

footer {
    color:#CCC;
    height:60px;
    width:100%;
    position: absolute;
    bottom: 0%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 1px solid #CCC;
}
